.tree {
    @if $reverse {
      transform: rotate(180deg);
      transform-origin: 50%;
    }
  }
  
  .tree ul {
    position: relative;
      padding: 1em 0; 
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
  
  .tree li {
    display: inline-block; 
    vertical-align: top;
    text-align: center;
      list-style-type: none;
      position: relative;
      padding: 1em .5em 0 .5em;
    &::before,
    &::after {
      /*content: '';*/
      position: absolute; 
      top: 0; 
      right: 50%;
      border-top:  solid #ccc;
      width: 50%; 
      height: 1em;
    }
    &::after {
      right: auto; 
      left: 50%;
        border-left:  solid #ccc;
    }
    &:only-child::after,
    &:only-child::before {
      display: none;
    }
    &:only-child {
      padding-top: 0;
    }
    &:first-child::before,
    &:last-child::after {
      border: 0 none;
    }
    &:last-child::before{
      border-right: solid #ccc;
      border-radius: 0 5px 0 0;
    }
    &:first-child::after{
      border-radius: 5px 0 0 0;
    }
  }
  
  .tree ul ul::before{
      content: '';
      position: absolute; 
    top: 0; 
    left: 50%;
      border-left:  solid #ccc;
     /* border-color: red;*/
      width: 0; 
    height: 1em;
  }
  .tree li li::before{
    content: '';
    position: absolute; 
  top: 0; 
  left: 50%;
    border-left: solid #ccc;
    border-top: solid #ccc;
    width: 0; 
  height: 1em;
}



  
  .tree li button {
      border: solid #ccc;
      padding: .5em .75em;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
    color: #333;
    position: relative;
    top: 0;
    @if $reverse {
      transform: rotate(180deg);
    }
  }
  
  .tree li button:hover,
  .tree li button:hover+ul li button {
      background:  #0d6efd;
    color: #fff;
    border: solid #0d6efd;
  }
  
  .tree li button:hover + ul li::after, 
  .tree li button:hover + ul li::before, 
  .tree li button:hover + ul::before, 
  .tree li button:hover + ul ul::before{
      border-color:  #0d6efd;
  }